<html>
  <head>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>
    <meta property="fb:app_id" content="{{ handler.settings.get("fb_app_id", "") }}"/>
    {% block head %}{% end %}
  </head>
  <body>
    {% block body %}{% end %}
    {{ modules.RecentlyEditedPages() }}
    <p>
      <a href="http://developers.facebook.com/docs/opengraph/">Open Graph protocol</a>
      -
      <a href="https://github.com/bgolub/open-graph-page-generator">Source</a>
    </p>
  </body>
</html>
