{% extends base.html %}

{% block head %}
  {% if page and page.head %}
    {{ page.head }}
  {% end %}
{% end %}

{% block body %}
  <iframe src="http://www.facebook.com/plugins/like.php?href={{ url_escape(request.full_url()) }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:850px; height:80px;" allowTransparency="true"></iframe>
  {% if page and page.head %}
    <p>
      {{ escape(page.head) }}
    </p>
  {% end %}
  {% if users.is_current_user_admin() %}
    <form method="post">
      {{ xsrf_form_html() }}
      {% if page %}
        <input type="hidden" name="key" value="{{ page.key() }}"/>
      {% end %}
      <p>
        <h4>Path</h4>
        <input class="text" type="text" disabled="disabled" name="path" value="{{ path }}"/>
      </p>
      <p>
        <h4>Headers</h4>
        <textarea name="head">
          {% if page and page.head %}
            {{ escape(page.head) }}
          {% end %}
        </textarea>
      </p>
      <p>
        <input class="submit" type="submit" value="Save"/>
      </p>
    </form>
  {% end %}
  <p>
    {% if not users.get_current_user() %}
      <a href="{{ users.create_login_url(request.uri) }}">Log in</a>
    {% else %}
      <a href="{{ users.create_logout_url(request.uri) }}">Log out</a>
    {% end %}
  </p>
{% end %}
